@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
	overflow: hidden;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #09001d);
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #c40094;
	font-weight: 700;
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 150px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: linear-gradient(to left top,  #384292, #312e83, #2b1772);
	background-size: cover;
	height: 100%;
	
}
.left h2{
	position: relative;
	padding: 20px 0 20px;
	margin-bottom: 10px;
	color: #fff;
}

.right{
	padding: 25px 40px;
}

.right h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.left h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color:#c40094;
}

.right h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #512da8;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 190px;
	height: 50px;
	background: #512da8;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	box-shadow: 0 0 10px #c40094;
	font-size: 18px;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 600;
	cursor: pointer;
	transition: .5s;
	text-align: center;
	font-size: 25px;
	text-decoration: none;
	padding: 5px;
}

.btn:hover{

			background: #09001d;
			box-shadow: none;

}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.navbar a {
		margin-left: 10px;
	}
	.contact-box{
		grid-template-columns: 2fr;
	}
	.left{
		height: 200px;
	}
	.container{
		width: 100%;

		padding: 100px 20px;
	}

}
